.popup-overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadIn 0.3s ease-in;
    padding: 10px;
    box-sizing: border-box;
}

.pop-container {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 20px 40px rgb(255, 0, 255,);
    border-radius: 10px;
    position: relative;
    overflow-y: auto;
    max-height: 90vh;
    animation: slideUp 0.4s ease-in-out;
}

.popup-screenshot {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 6px 16px #ff00ff;
}

.popup-close  {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #0ff;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease-in;
}

.popup-close:hover {
    background-color: #ff00ff;;
}

@keyframes fadeIn {
from {opacity: 0; }
to {opacity: 1; }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 400px) {
    .popup-container {
        padding: 10px;
        max-width: 95vw;
    }

    .popup-close {
        font-size: 16px;
        padding: 4px 8px;
    }
}